.credit-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #00221a;
    color: white;
    text-align: center;
}

.logo {
    width: 128px;
    height: 128px;
    margin-bottom: 50px;
}

.title {
    padding: 0;
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 50px;
}

.card-options {
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
}

.card-button {
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    width: 469px;
    height: 282px;
    background-color: #00E083;
    color: #fff;
    border: none;
    cursor: pointer;
}

.card-button:hover {
    background-color: #00cc66;
}

.back-button-credit {
    width: 279px;
    height: 60px;
    padding: 12px 32px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    background: transparent;
    border: 2px solid #00E083;
    color: white;
    cursor: pointer;
}

.back-button-credit:hover {
    background: white;
    color: black;
}
