/* Main container styling */
.purpose-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #002018; /* Default background */
  color: white;
  text-align: center;
  margin: 0;
  transition: background 0.5s ease;
}

/* Logo styling */
.logo {
  width: 128px;
  height: 128px; /* Adjust for your logo */
  margin: 0;
  margin-bottom: 64px;
}

/* Title styling */
.purpose-title {
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  margin: 0;
  margin-bottom: 16px;
}

/* Subtitle styling */
.subtitle {
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  color: #fff;
  margin-bottom: 100px;
}

/* Purpose options container */
.purpose-options {
  display: flex;
  gap: 32px;
}

/* Individual option styling */
.purpose-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 4px solid #fff;
  background-color: #00e083; /* Default green */
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  padding: 15px;
  width: 236.786px;
  height: 236.786px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.5s ease;
}

/* Hide default checkbox */
.purpose-option input {
  display: none;
}

/* Hover effect */

/* Continue button styling */
.continue-button {
  margin-top: 100px;
  background-color: #00E083; /* Button color */
  color: white;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  width: 363px;
  height: 60px;
  padding: 12px 32px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

