.queuing-display-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #002018;
    color: white;
    text-align: center;
}

.logo {
    width: 128px;
    height: 128px;
}

.status-text {
    font-size: 64px;
    color: #fff;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 20px;
}

.queue-number-box {
    width: 864px;
    height: 352px;
    background: #D9D9D9;
    color: black;
    font-size: 100px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.back-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background: white;
    color: black;
    border: none;
    cursor: pointer;
}
